<div class="login-wrapper">
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form #loginForm="ngForm" class="login-form">
        <mat-form-field appearance="outline" class="input-field">
          <mat-label>Usuário</mat-label>
          <mat-icon matPrefix>person</mat-icon>
          <input matInput [(ngModel)]="username" name="username" required>
          @if (loginForm?.controls?.['username']?.errors?.['required']) {
            <mat-error>Usuário é obrigatório</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline" class="input-field">
          <mat-label>Senha</mat-label>
          <mat-icon matPrefix>lock</mat-icon>
          <input
            matInput
            [type]="hidePassword ? 'password' : 'text'"
            [(ngModel)]="password"
            name="password"
            required
          >
          <!-- Ícone de olho para alternar visibilidade -->
          <mat-icon matSuffix (click)="togglePasswordVisibility()">
            {{ hidePassword ? 'visibility_off' : 'visibility' }}
          </mat-icon>
          @if (loginForm?.controls?.['password']?.errors?.['required']) {
            <mat-error>Senha é obrigatória</mat-error>
          }
        </mat-form-field>

        <!-- <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid" class="login-button"> -->
        <button mat-raised-button color="primary" (click)="signInUserPassword()" [disabled]="!loginForm.valid" class="login-button">
          Entrar
        </button>

        <button mat-raised-button color="accent" (click)="signInWithGoogle()" class="google-button">
          Login com Google
        </button>
      </form>
      @if (errorMessage) {
        <div class="error-message">
          <mat-error>{{ errorMessage }}</mat-error>
        </div>
      }
    </mat-card-content>
  </mat-card>
</div>
